<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
  

</head>

<body ng-app="myApp" ng-controller="myController">
    <script src="/dist/bundle.js"></script>
   <div>
        <h2>
        计算器小Demo
        </h2>
    </div>
    <div>
        <!--<button ng-click="add()">+</button>-->
        <input type="button" ng-click="add()" value="加">
        <button ng-click="jian()">减</button>
        <button ng-click="chen()">乘</button>
        <button ng-click="chu()">除</button>
    </div>
    <table>
        <tr>
            <td>
                <input type="number" id="parm1" name="parm1" ng-model="jisuanObj.parm1">
            </td>
            <td>
                <input type="number" id="parm2" name="parm2" ng-model="jisuanObj.parm2">
            </td>
            <td>
                <input type="number" id="result" name="result" ng-model="jisuanObj.result">
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>

</html>